.balloon {
  position: relative;
  bottom: 160px;
  width: 300px;
  height: 200px;
  background: white;
  border-radius: 5px;
  box-shadow: 0 0 6px 0 rgba(0, 0, 0, 0.5);
  padding: 10px;
  overflow: hidden;
  display: flex;
  justify-content: center;
}

/* .balloon:after {
  border-top: 20px solid gray;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-bottom: 0px solid transparent;

  content: "";
  position: absolute;
  top: 300px;
  left: 140px;
  z-index: 100;
} */
