.balloon {
  position: relative;
  bottom: 110px;
  width: 200px;
  height: 100px;
  background: gray;
  border-radius: 5px;
  box-shadow: 0 0 6px 0 rgba(0, 0, 0, 0.5);
  padding: 10px;
}

.balloon:after {
  border-top: 20px solid gray;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-bottom: 0px solid transparent;

  content: "";
  position: absolute;
  top: 100px;
  left: 90px;
}

.test {
  height: 100px;
  width: 100px;
  background-color: tomato;
}
